<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hufs.cdt">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="신주민"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".search_result_list"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="u9zcc3txnl" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5e7ce2cdb889e93f04348b2e054f47e4" />

        <activity android:name=".Post" />
        <activity android:name=".Mypage" />
        <activity android:name=".Search_result" />
        <activity android:name=".FindView" />
        <activity android:name=".Review" />
        <activity android:name=".Login" />
        <activity android:name=".GetImageActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ChatActivity" />
    </application>

</manifest>